@import "../public/assets/css/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Default */
    --rc-default: 0 0% 3%; /* #090909  - OK*/
    --rc-dark-grey: 0 0% 9%; /* #181818 - OK */
    --rc-clay: #48443e;
    --rc-slate: 0 0% 46%; /* #767676 - OK */
    --rc-cadet-blue: 195 11% 54%; /* #7e9299 - OK */
    --rc-light-blue: 221 64% 82%; /* #b4c6ef - OK */

    /* Main */
    --rc-dark-blue: #200d5c;
    --rc-blue: #2b0a93;
    --rc-purple: 259 60% 41%; /* #522AA7 - OK */
    --rc-lilac: #9326cf;
    --rc-pink: 0 100% 62%; /* #ff4141 - OK*/

    /* Base */
    --rc-dark: #030204;
    --rc-light: #f6f6f6;

    /* Destructive */
    --rc-danger: #be2b28;

    --background: 0 0% 96.5%; /* OK */
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 33% 1%; /* OK */
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 3%; 
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .defalut {
    @apply bg-rc-default;
  }

  .container-lg {
    @apply hidden lg:block;
  }

  .container-lg2 {
    @apply hidden lg2:block;
  }

  .largeContainer {
    @apply my-0 mx-auto w-full;
  }

  .menu-hover {
    @apply p-3.5 rounded-md bg-rc_darkGrey hover:bg-rc_purple;
  }

  .bg-hero {
    @apply bg-[url('/assets/images/hero/bg-hero-section.svg')] bg-no-repeat bg-center bg-cover lg2:w-[1024px] min-h-[316px] md:h-[351px];
  }

  .assets {
    @apply lg:flex lg:items-center lg:gap-32 lg:absolute lg:bottom-[-40px] lg:left-1/2 lg:transform lg:-translate-x-1/2 z-[12];
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .bg-services {
    @apply bg-[url('/assets/images/background/bg-services-light.svg')] dark:bg-[url('/assets/images/background/bg-services.svg')] bg-no-repeat bg-center bg-cover min-h-[465px] rounded-xl;
  }

  .section {
    @apply p-6 sm:p-10 xl:p-10 rounded-xl bg-white dark:bg-rc_default
  }

  .section-title {
    @apply font-semibold text-2xl sm:text-3xl text-rc_default dark:text-white text-center;
  }

  .card-image {
    @apply rounded-xl hover:bg-rc_purple w-full lg:h-[180px] max-h-[200px] object-cover transition-all duration-300 ease-in-out group-hover:scale-110;
  }

  .hover-fade-in-bg {
    @apply absolute inset-0 bg-rc_purple opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .card-span {
    @apply font-medium text-sm text-rc_slate;
  }

  .professional-card {
    @apply flex flex-col gap-6 xl:flex-row xl:justify-between border-b border-rc_lightBlue dark:border-rc_darkGrey pb-8 xl:pb-10;
  }

  .professional-card-title {
    @apply text-lg dark:text-white font-medium;
  }

  .professional-card-description {
    @apply mt-2 lg:mt-4 text-rc_slate dark:text-rc_cadetBlue text-base;
  }

  .profile-card{
   @apply space-y-10 pb-10 border-b border-rc_lightBlue dark:border-rc_darkGrey;
  }

  .profile-text-base{
    @apply text-rc_slate text-md;
  }

  .profile-text-lg{
    @apply text-lg;
  }

  .profile-link{
    @apply text-rc_cadetBlue hover:text-rc_purple transition-color;
  }

  .transition-color{
    @apply transition-colors duration-300 ease-in-out;
  }
  
  .text-md{
    @apply text-[15px];
  }
  
  .border-image{
    @apply border-2 transition-color;
  }
  
  .badge {
    @apply hidden xl:block rounded-full;
  }
  
}